<!--section all products-->
    <div class="container">
        <br>
        <h2>Jwellery</h2>
        <hr>
        <div class="row">
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$950.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$510.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$520.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1568219396383-6c8e87dadbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$350.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
        </div>
        <h2>Books</h2>
        <hr>
        <div class="row">
          <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$950.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$510.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$520.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1568219396383-6c8e87dadbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$350.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
        </div>
        <h2>Paintings</h2>
        <hr>
        <div class="row">
          <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$950.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$510.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$520.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1568219396383-6c8e87dadbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$350.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
        </div>
        <h2>Perfumes</h2>
        <hr>
        <div class="row">
          <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$950.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$510.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$520.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1568219396383-6c8e87dadbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$350.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
        </div>
        <h2>Bottles</h2>
        <hr>
        <div class="row">
          <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$950.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$510.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$520.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1568219396383-6c8e87dadbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$350.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
        </div>
        <h2>Camera</h2>
        <hr>
        <div class="row">
          <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$950.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$510.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$520.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
            <div class="col s12 m3"> 
                <div class="card-panel">
                    <div>
                      <img src="https://images.unsplash.com/photo-1568219396383-6c8e87dadbe0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="responsive-img">  
                    </div>
                    <h6>Diamond Chain</h6>
                    <p>$350.00</p>
                    <button class="btn btn-small">ADD</button>
                </div>
            </div> 
        </div>
    </div>




<!--section all products-->
    <div class="container">
        <br>
        <h2>Jwellery</h2>
        <hr>
        <div class="row">
  <!--k-->  <div class="col s12 m3"> 
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="activator responsive-img">  
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Diamond Chain<i class="material-icons right">more_vert</i><p class="grey-text">$950.00</p></span>
                      <button class="btn btn-small">Add</button>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">My Story<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      <button class="btn btn-small">Preview</button>
                    </div>
                </div>
  <!--k-->  </div> 
            <div class="col s12 m3"> 
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="activator responsive-img">  
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Diamond Chain<i class="material-icons right">more_vert</i><p class="grey-text">$950.00</p></span>
                      <button class="btn btn-small">Add</button>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">My Story<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      <button class="btn btn-small">Preview</button>
                    </div>
                </div>
  <!--k-->  </div> 
            <div class="col s12 m3"> 
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="activator responsive-img">  
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Diamond Chain<i class="material-icons right">more_vert</i><p class="grey-text">$950.00</p></span>
                      <button class="btn btn-small">Add</button>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">My Story<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      <button class="btn btn-small">Preview</button>
                    </div>
                </div>
  <!--k-->  </div> 
            <div class="col s12 m3"> 
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class="activator responsive-img">  
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Diamond Chain<i class="material-icons right">more_vert</i><p class="grey-text">$950.00</p></span>
                      <button class="btn btn-small">Add</button>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">My Story<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      <button class="btn btn-small">Preview</button>
                    </div>
                </div>
  <!--k-->  </div> 





 <!--section parallax-->
    <section>
        <div class="parallax-container">
          <div class="parallax"><img src="https://images.unsplash.com/photo-1478860002487-680cc42afbeb?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80">
          </div>
        </div>
    </section>
   


<!--section all products-->
  <section class="section">
    <div class="container">
        <div class="row">
            {% for type in products %}
  <!--k-->  <div class="col s12 m3"> 
                <div>
                    <div>
                      <img src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                      class=" responsive-img">  
                    </div>
                    <div>
                      <span class="grey-text text-darken-4">{{type.name}}<p class="grey-text">{{type.price}}</p></span>
                      <a class="btn btn-small grey" href="#">Add</a>
                    </div>
                </div>
  <!--k-->  </div> 
            {% endfor %}
        </div>  
    </div>    
  </section>  








def cartView(request):
  if request.user.is_authenticated:
    
    consumer = Consumer.objects.get(pk=request.session['consumer_id']) 
    order,created = Order.objects.get_or_create(consumer=consumer,complete=False)
    items = order.orderitem_set.all() 
    print(request.user)

    context = {'items':items,
        'order':order,
        'error':False}
  else:
    context = {'error' : True} 
    print(request.user)
  
  return render(request,'products/cart.html',context)












  